<div class="footer-container">
  <div class="name">
    <div class="title">Tixsavvy</div>
    <div class="txt">
      Tixsavvy.com stands out as a rapidly advancing ticket marketplace, featuring a diverse array of events spanning music, sports, art, theater, and beyond. With cutting-edge technology,
      Tixsavvy.com effortlessly caters to events of various types, sizes, and complexities, ensuring a seamless and enjoyable experience for all.
    </div>
  </div>
  <div class="social-container">
    <div class="icons">
      <div class="facebook">
        <img src="../../../../assets/Icons/facebook.png" alt="facebook" />
      </div>
      <div class="mail">
        <img src="../../../../assets/Icons/email.png" alt="mail" />
      </div>
      <div class="insta">
        <img src="../../../../assets/Icons/instagram.png" alt="Instagram" />
      </div>
    </div>
    <div class="copyright">
      &copy; 2023 | Tixsavvy.com | All Rights Reserved
    </div>
  </div>
  <div class="contact">
    <div class="phone item">
      <img src="../../../../assets/Icons/telephone-call.png" alt="tel" />
      <span>+94 771771893</span>
    </div>
    <div class="mail item">
      <img src="../../../../assets/Icons/mail.png" alt="mail" />
      <span>tixsavvy&#64;gmail.com</span>
    </div>
    <div class="add item">
      <img src="../../../../assets/Icons/house.png" alt="home" />
      <span>Colombo, Sri Lanka</span>
    </div>
  </div>
</div>
