<div class="nav-bar-container">
  <div class="desktop-container">
    <div class="header-bar">
      <div class="logo">
        <div class="logo-name">Tixsavvy</div>
      </div>
      <div class="search-bar">
        <div class="icon">
          <img src="../../../../assets/Icons/search.png" alt="search" />
        </div>
        <input type="text" placeholder="Search any movie or a show" />
      </div>
    </div>
    <div class="side-panel">
      <div class="panel-container">
        <div class="all item">
          <img class="without-hover" src="../../../../assets/Icons/menu (1).png" alt="menu" />
          <img class="with-hover" src="../../../../assets/Icons/menu.png" alt="menu" />
        </div>
        <div class="movies item">
          <img class="without-hover" src="../../../../assets/Icons/movie.png" alt="movies" />
          <img class="with-hover" src="../../../../assets/Icons/movie2.png" alt="movies" />
        </div>
        <div class="shows item">
          <img class="without-hover" src="../../../../assets/Icons/show.png" alt="shows" />
          <img class="with-hover" src="../../../../assets/Icons/show2.png" alt="shows" />
        </div>
      </div>
    </div>
  </div>
</div>
