.event-container {
  width: 100%;
  height: max-content;
  min-height: 100vh;
  margin-bottom: 5rem;
}

.event-container .cover-container {
  position: relative;
  width: 100%;
  /* height: 100%; */
  height: 50vh;
  z-index: 0;
  margin-bottom: 3rem;
}

.event-container .cover-container .back {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: var(--txy-blue-1);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: var(--txy-blue-4);
  z-index: 1;
  cursor: pointer;
}

.event-container .cover-container .back img {
  width: 0.8rem;
}

.event-container .cover-container .img {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
}

.event-container .cover-container .img .bg-img {
  width: 100%;
  height: 100%;
}

.event-container .cover-container .img .bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-container .cover-container .img .bg-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--txy-blue-4);
  opacity: 0.7;
}

.event-container .cover-container .event-poster {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 5rem;
  display: flex;
  align-items: flex-end;
}

.event-container .cover-container .event-poster .poster {
  width: 15rem;
  height: 15rem;
  box-shadow: 0 0 3px 0 var(--txy-blue-1);
}

.event-container .cover-container .event-poster .poster img {
  width: 100%;
  height: 100%;
}

.event-container .cover-container .event-poster .main-header {
  margin-left: 1rem;
}

.event-container .cover-container .event-poster .main-header .name {
  font-size: var(--txy-f-l);
  text-transform: uppercase;
  color: var(--txy-blue-1);
  font-weight: 700;
}

.event-container .cover-container .event-poster .main-header .organized-by {
  font-size: var(--txy-f-n);
  font-weight: 300;
}

.event-container .cover-container .booking-container {
  position: absolute;
  top: 40%;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.5rem;
}

.event-container .cover-container .booking-container span {
  font-size: var(--txy-f-s);
  font-weight: 300;
}

.event-container .content-container {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.event-container .content-container .desc-container {
  width: 40%;
  height: max-content;
}

.event-container .content-container .desc-container .desc {
  font-size: var(--txy-f-s);
  margin-bottom: 2rem;
  font-weight: 100;
}
.event-container .content-container .desc-container .date-time img {
  width: 0.8rem;
  height: 0.8rem;
}

.event-container .content-container .desc-container .date-time {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.event-container .content-container .desc-container .date-time .item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.event-container .content-container .desc-container .btn {
  width: max-content;
  padding-right: 2rem;
  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.event-container .content-container .time-prices {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
}

.event-container .content-container .time-prices .countdown-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.content-container .time-prices .countdown-container .title {
  font-size: var(--txy-f-m);
  color: var(--txy-blue-1);
}

.content-container .time-prices .countdown-container .countdown {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.content-container .time-prices .countdown-container .countdown .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 12px;
  border: 2px solid var(--txy-blue-1);
  font-size: var(--txy-f-m);
  color: var(--txy-blue-1);
  font-weight: 600;
}

.content-container .time-prices .countdown-container .countdown .item span {
  font-size: var(--txy-f-xs);
}

.content-container .time-prices .countdown-container .countdown .separator {
  font-size: 2rem;
  color: var(--txy-blue-1);
}

.content-container .time-prices .prices-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.content-container .time-prices .prices-container .title {
  font-size: var(--txy-f-m);
  color: var(--txy-blue-1);
}

.content-container .time-prices .prices-container .price {
  display: flex;
  flex-direction: column;
}

.content-container .time-prices .prices-container .price .item {
  width: 15rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--txy-blue-1);
  font-weight: 100;
}

@media only screen and (max-width: 1220px) {
  .event-container .content-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    row-gap: 5rem;
    padding-inline: 2rem;
  }

  .event-container .content-container .desc-container {
    width: 100%;
  }

  .event-container .cover-container .event-poster .main-header .name {
    font-size: var(--txy-f-m);
  }

  .event-container .cover-container .event-poster .main-header .organized-by {
    font-size: var(--txy-f-s);
  }

  .event-container .content-container .time-prices {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 780px) {
  .event-container .cover-container .event-poster {
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    row-gap: 1rem;
  }

  .event-container .cover-container .event-poster .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    row-gap: 0.5rem;
  }

  .event-container .cover-container .booking-container {
    top: 1rem;
  }

  .event-container .content-container .time-prices {
    flex-direction: column;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 680px) {
  .event-container .cover-container .event-poster .poster {
    width: 12rem;
    height: 12rem;
  }

  .event-container .cover-container {
    height: 30rem;
  }

  .event-container .cover-container .event-poster {
    width: 100%;
  }

  .event-container .content-container {
    align-items: center;
  }

  .event-container .content-container .time-prices {
    width: max-content;
  }

  .event-container .content-container .time-prices .countdown-container {
    align-items: center;
  }

  .event-container .content-container .time-prices .prices-container {
    width: 100%;
    align-items: center;
  }

  .event-container .content-container .desc-container {
    align-items: center;
  }

  .event-container .content-container .desc-container .desc {
    text-align: center;
  }

  .event-container .content-container .desc-container .date-time {
    align-items: center;
  }

  .event-container .content-container .desc-container .booking-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .event-container .content-container .desc-container .btn {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding: 0.5rem 1.5rem;
  }
}
