<div class="event-container">
  <div class="cover-container">
    <div class="back">
      <img src="../../../assets/Icons/back.png" alt="back" />
      <span>Back</span>
    </div>
    <div class="img">
      <div class="bg-img">
        <img src="../../../assets/Images/Profile-picture.jpg" alt="cver" />
      </div>
      <div class="bg-tint"></div>
    </div>
    <div class="event-poster">
      <div class="poster">
        <img src="../../../assets/Images/Profile-picture.jpg" alt="poster" />
      </div>
      <div class="main-header">
        <div class="name">Sidadiya Musical Show</div>
        <div class="organized-by">Organized by Eastern University, Sri Lanka</div>
      </div>
    </div>
    <div class="booking-container">
      <span>Only 15 Seats left, Hurry Up!</span>
      <div class="btn">Book tickets now!</div>
    </div>
  </div>
  <div class="content-container">
    <div class="desc-container">
      <div class="desc">
        Sociosqu egestas tempor vestibulum ornare euismod diam litora magnis habitant mattis torquent sem lectus ligula netus iaculis quis sed lacinia nascetur at fermentum ridiculus bibendum senectus
        tempus letius hac parturient ante dictum non elementum phasellus pede turpis conubia curae fames donec dignissim ultrices integer gravida metus malesuada platea aenean nam tortor
      </div>
      <div class="date-time">
        <div class="date item">
          <img src="../../../assets/Icons/calendar.png" alt="date" />
          <span>2nd of February, 2023</span>
        </div>
        <div class="location item">
          <img src="../../../assets/Icons/location.png" alt="location" />
          <span>Colombo, Sri Lanka</span>
        </div>
      </div>
      <div class="booking-btn">
        <div class="btn">Book tickets now!</div>
      </div>
    </div>
    <div class="time-prices">
      <div class="countdown-container">
        <div class="title">Time left for the event</div>
        <div class="countdown">
          <div class="days item">5 <span>days</span></div>
          <div class="separator">:</div>
          <div class="hours item">15 <span>hours</span></div>
          <div class="separator">:</div>
          <div class="min item">23 <span>minutes</span></div>
        </div>
      </div>
      <div class="prices-container">
        <div class="title">Ticket Prices</div>
        <div class="prices-container">
          <div class="bronze item">
            <span>Bronze</span>
            <span>LKR 1000.00</span>
          </div>
          <div class="silver item">
            <span>Silver</span>
            <span>LKR 2500.00</span>
          </div>
          <div class="gold item">
            <span>Gold</span>
            <span>LKR 5000.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
