<div class="book-now-wrapper">
  <div class="book-now-container">
    <div class="close" (click)="handleCloseClick()">
      <img src="../../../../assets/Icons/close.png" alt="close" />
    </div>
    <div class="cover-container">
      <div class="cover">
        <img src="../../../../assets/Images/Profile-picture.jpg" alt="cover" />
      </div>
    </div>
    <div class="content-container">
      <div class="title">Sidadiya</div>
      <div class="grid-container">
        <div class="row-heading row">
          <div class="col1">Ticket Category</div>
          <div class="col2">Price</div>
          <div class="col3">Amount</div>
        </div>
        <div class="row-1 row">
          <div class="col1">bronze</div>
          <div class="col2">LKR 1000.00</div>
          <div class="col3">
            <img src="../../../../assets/Icons/plus.png" alt="add" />
            <div class="amout">0</div>
            <img src="../../../../assets/Icons/minus.png" alt="minus" />
          </div>
        </div>
        <div class="row-2 row">
          <div class="col1">Silver</div>
          <div class="col2">LKR 2500.00</div>
          <div class="col3">
            <img src="../../../../assets/Icons/plus.png" alt="add" />
            <div class="amout">0</div>
            <img src="../../../../assets/Icons/minus.png" alt="minus" />
          </div>
        </div>
        <div class="row-3 row">
          <div class="col1">Gold</div>
          <div class="col2">LKR 5000.00</div>
          <div class="col3">
            <img src="../../../../assets/Icons/plus.png" alt="add" />
            <div class="amout">0</div>
            <img src="../../../../assets/Icons/minus.png" alt="minus" />
          </div>
        </div>
      </div>
      <div class="total-count">
        <div class="tickets item">
          <div class="title">Total Tickets</div>
          <div class="amount">0</div>
        </div>
        <div class="cost item">
          <div class="title">Total Cost</div>
          <div class="amount">LKR 0.00</div>
        </div>
      </div>
      <div class="btn-container">
        <div class="btn">Proceed to Checkout</div>
      </div>
    </div>
  </div>
</div>
