.app-component {
  width: calc(100vw - var(--side-panel) - 2rem);
  /* height: 100vh; */
  position: relative;
  top: var(--header-size);
  left: var(--side-panel);
  /* background-color: red; */
  padding-inline: 2rem;
  padding-right: 0rem;
  padding-top: 1rem;
}

.nav-bar {
  z-index: 0;
}

@media only screen and (max-width: 680px) {
  .app-component {
    width: 100vw;
    left: 0;
    padding-inline: 2rem;
  }

  .footer-container {
    width: 100vw;
    padding-inline: 0;
  }
}
