<div class="home-component">
  <div class="featured-cover-container">
    <div class="img">
      <div class="bg-img">
        <img src="../../../assets/Images/Profile-picture.jpg" alt="cver" />
      </div>
      <div class="bg-tint"></div>
    </div>

    <div class="featuring">Featuring</div>
    <div class="content-container">
      <div class="title">Sidadiya</div>
      <div class="context">Luctus facilisi nascetur nec rhoncus quisque vulputate praesent curae enim commodo urna conubia fermentum etiam aliquet</div>
      <div class="date-time">
        <div class="date item">
          <img src="../../../assets/Icons/calendar.png" alt="calendar" />
          <span>02 Feb, 2023</span>
        </div>
        <div class="location item">
          <img src="../../../assets/Icons/location.png" alt="location" />
          <span>Colombo, Sri Lanka</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-container">
    <div class="trending-container">
      <div class="trending">
        <div class="title">Trending</div>
        <div class="border"></div>
      </div>
      <div class="cards">
        <txy-event-card></txy-event-card>
        <txy-event-card></txy-event-card>
        <txy-event-card></txy-event-card>
        <txy-event-card></txy-event-card>
        <txy-event-card></txy-event-card>
        <txy-event-card></txy-event-card>
      </div>
    </div>
  </div>
</div>
