<div class="card-container">
  <div class="cover">
    <img src="../../../../assets/Images/Profile-picture.jpg" alt="event" />
    <span class="event-type">Musical Show</span>
  </div>
  <div class="content-container">
    <div class="title">Sidadiya</div>
    <div class="location-time">
      <div class="location item">
        <img src="../../../../assets/Icons/location.png" alt="location" />
        <span>Colombo</span>
      </div>
      <div class="date item">
        <img src="../../../../assets/Icons/calendar.png" alt="date" />
        <span>Feb 02, 2024</span>
      </div>
    </div>
    <div class="price-btn-container">
      <div class="price">Tickets Starting from <br /><span>LKR 1000/-</span></div>
      <div class="btn">Book Now</div>
    </div>
  </div>
</div>
